*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'SF Pro Display';
}

.container{
    max-width: 1195px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


